<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="layui-card">
    <div class="layui-card-header">流程介绍</div>
    <div class="layui-card-body">
        <img src="/img/bb3f9da897f4b4ca8acd2b3e072fee8.png" width="100%" alt="">
    </div>
</div>
</body>
</html>