<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>

<div class="layui-card">
    <div class="layui-card-header">编辑验收信息</div>
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">项目题目</label>
                <div class="layui-input-block">
                    <input type="hidden" name="id">
                    <input type="text" name="title" required lay-verify="required" placeholder="请输入项目题目"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">测试内容</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入测试内容" name="content" required lay-verify="required"
                              class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="designerForm">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    //Demo
    var requestURL = '/acceptance/create'

    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(designerForm)', function (data) {
            // layer.msg(JSON.stringify(data.field));
            $.post(requestURL, data.field, function (res) {
                document.querySelector('.layui-form').reset()
                layui.layer.msg(res.message)
            })
            return false;
        });


    });

</script>

</body>
</html>